---
layout: default
title: Home
description: Bonnie Fox Photography
---

<!-- Hero Section -->
<section class="hero-slider-section">
    <div class="hero-slider slick-slider">
        <div class="slick-slide">
            <div class="hero-slide-content">
                <img src="/photography-site/assets/images/Pine Palette.jpg" alt="Pine Palette" class="hero-image" loading="eager">
                <div class="hero-overlay">
                    <div class="hero-text">
                        <h1 class="poppins-white-italic">Join me on my journeys</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="slick-slide">
            <div class="hero-slide-content">
                <img src="/photography-site/assets/images/Shades of Grey.jpg" alt="Shades of Grey" class="hero-image" loading="eager">
                <div class="hero-overlay">
                    <div class="hero-text">
                        <h1>Wall Art</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="slick-slide">
            <div class="hero-slide-content">
                <img src="/photography-site/assets/images/Shapes and Shadows.jpg" alt="Shapes and Shadows" class="hero-image" loading="eager">
                <div class="hero-overlay">
                    <div class="hero-text">
                        <h1>Custom Orders</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="slick-slide">
            <div class="hero-slide-content">
                <img src="/photography-site/assets/images/Tree Magic.jpg" alt="Tree Magic" class="hero-image" loading="eager">
                <div class="hero-overlay">
                    <div class="hero-text">
                        <h1>Prints</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
        <div class="container container-med">
            <div class="row align-items-center">
                <h2 class="text-center mt-5 mb-1"><img src="/photography-site/assets/images/logo.png" class="logo-inline">Join me on my journeys</h2>
                <div class="lg-16 my-4 py-5 text-center">
                    <img src="/photography-site/assets/images/home-6.jpg" alt="About Bonnie Fox Photography" class="img-fluid rounded" loading="lazy">
                </div>
                <div class="lg-16 my-4 py-5 text-center">
                    <img src="/photography-site/assets/images/home-7.jpg" alt="About Bonnie Fox Photography" class="img-fluid rounded" loading="lazy">
                </div>
                <div class="lg-16 my-4 text-center">
                    <p class="fs-2">All walls need art!
                        Style your home with prints, frames, or canvases.
                        </p>
                </div>
                <div class="lg-16 my-4 py-5 text-center">
                    <img src="/photography-site/assets/images/home-9.jpg" alt="About Bonnie Fox Photography" class="img-fluid rounded" loading="lazy">
                </div>
                <div class="lg-16 my-4 py-5 text-center">
                    <p class="fs-2 my-2 pb-5">View the Gallery</p>
                    <a href="{{ '/photography-site/gallery' | relative_url }}">
                        <div class="image-mosaic">
                            {% for file in site.static_files %}
                            {% if file.path contains '/assets/images/mosaic-gallery/' %}
                            {% assign cardSize = '' %}
                            {% case forloop.index %}
                            {% when 1 %}
                            {% assign cardSize = 'card-tall card-wide' %}
                            {% when 2 %}
                            {% assign cardSize = 'card-tall' %}
                            {% when 7 %}
                            {% assign cardSize = 'card-wide' %}
                            {% when 14 %}
                            {% assign cardSize = 'card-tall card-wide' %}
                            {% when 17 %}
                            {% assign cardSize = 'card-tall' %}
                            {% else %}
                            {% endcase %}
                            <div
                            class="card {{ cardSize }}"
                            style="background-image: url('/photography-site{{ site.baseurl }}{{ file.path }}')"
                            ></div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </a>
                </div>
            </div>
        </div>
</section>

<!-- Instagram Feed Section -->
 {% comment %}
{% include instagram-feed.html %}
{% endcomment %}