---
layout: default
title: Animals
description: Wildlife and animal photography
---

<section class="section gallery-page-section">
    <div class="container">
        <h2 class="text-center mb-5">Animals</h2>
        {% comment %}
        <div class="gallery-grid">
            {% for file in site.static_files %}
                {% if file.path contains '/assets/images/animals/' %}
                    <a href="/photography-site{{ site.baseurl }}{{ file.path }}" class="gallery-item">
                        <img src="/photography-site{{ site.baseurl }}{{ file.path }}" loading="lazy">
                    </a>
                {% endif %}
            {% endfor %}
        </div>
        {% endcomment %}
        <div id="mygallery" >
            {% for file in site.static_files %}
                {% if file.path contains '/assets/images/animals/' %}
                <a href="/photography-site{{ site.baseurl }}{{ file.path }}">
                    <img alt="{{ file.path | remove: '/assets/images/animals/' | remove: '.jpg' }}" src="/photography-site{{ site.baseurl }}{{ file.path }}"/>
                </a>
                {% endif %}
            {% endfor %}
        </div>        
    </div>
</section>

