---
layout: default
title: Animals
description: Wildlife and animal photography
---

<section class="section gallery-page-section">
    <div>
        <h2 class="text-center mb-5">Animals</h2>
        <div id="gallery">
            {% for file in site.static_files %}
                {% if file.path contains '/assets/images/animals/' %}
                <a href="{{ site.baseurl }}{{ file.path }}">
                    <img alt="{{ file.path | remove: '/assets/images/animals/' | remove: '.jpg' | remove: '.JPG' }}" src="{{ site.baseurl }}{{ file.path }}"/>
                </a>
                {% endif %}
            {% endfor %}
        </div>        
    </div>
</section>

