---
layout: default
title: Around the World
description: Travel photography from around the world
---

<section class="section gallery-page-section">
    <div>
        <h2 class="text-center mb-5">Around the World</h2>
        <div id="gallery">
            {% for file in site.static_files %}
                {% if file.path contains '/assets/images/around-the-world/' %}
                <a href="{{ site.baseurl }}{{ file.path }}">
                    <img alt="{{ file.path | remove: '/assets/images/around-the-world/' | remove: '.jpg' }}" src="{{ site.baseurl }}{{ file.path }}"/>
                </a>
                {% endif %}
            {% endfor %}
        </div>        
    </div>
</section>

