---
layout: default
title: Black and White
description: Black and white photography collection
redirect_from:
    - /blackandwhite/index.html
---

<section class="section gallery-page-section">
    <div>
        <h2 class="text-center mb-5">Black and White</h2>
        <div id="gallery">
            {% for file in site.static_files %}
                {% if file.path contains '/assets/images/black-and-white/' %}
                <a href="{{ site.baseurl }}{{ file.path }}">
                    <img alt="{{ file.path | remove: '/assets/images/black-and-white/' | remove: '.jpg' }}" src="{{ site.baseurl }}{{ file.path }}"/>
                </a>
                {% endif %}
            {% endfor %}
        </div>        
    </div>
</section>

