---
layout: default
title: Collingwood Terminals
description: Photography of Collingwood Terminals
---

<section class="section gallery-page-section">
    <div>
        <h2 class="text-center mb-5">Collingwood Terminals</h2>
        <div id="gallery">
            {% for file in site.static_files %}
                {% if file.path contains '/assets/images/collingwood-terminals/' %}
                <a href="{{ site.baseurl }}{{ file.path }}">
                    <img alt="{{ file.path | remove: '/assets/images/collingwood-terminals/' | remove: '.jpg' }}" src="{{ site.baseurl }}{{ file.path }}"/>
                </a>
                {% endif %}
            {% endfor %}
        </div>        
    </div>
</section>