---
layout: default
title: Georgian Bay Journey
description: Explore the beautiful Georgian Bay area through photography
---

<section class="section gallery-page-section">
    <div>
        <h2 class="text-center mb-5">Georgian Bay Journey</h2>
        <div id="gallery">
            {% for file in site.static_files %}
                {% if file.path contains '/assets/images/georgian-bay-journey/' %}
                <a href="/photography-site{{ site.baseurl }}{{ file.path }}">
                    <img alt="{{ file.path | remove: '/assets/images/georgian-bay-journey/' | remove: '.jpg' }}" src="/photography-site{{ site.baseurl }}{{ file.path }}"/>
                </a>
                {% endif %}
            {% endfor %}
        </div>        
    </div>
</section>
