---
layout: default
title: Random Shots
description: A collection of random photography shots
---

<section class="section gallery-page-section">
    <div>
        <h2 class="text-center mb-5">Random Shots</h2>
        <div id="gallery">
            {% for file in site.static_files %}
                {% if file.path contains '/assets/images/random-shots/' %}
                <a href="{{ site.baseurl }}{{ file.path }}">
                    <img alt="{{ file.path | remove: '/assets/images/random-shots/' | remove: '.jpg' }}" src="{{ site.baseurl }}{{ file.path }}"/>
                </a>
                {% endif %}
            {% endfor %}
        </div>        
    </div>
</section>

