<header class="site-header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ '/' | relative_url }}">{{ site.title }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ '/' | relative_url }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ '/gallery' | relative_url }}">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ '/about' | relative_url }}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ '/contact' | relative_url }}">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
        <a href="#home" class="w3-bar-item w3-button"><span style="font-family:'Poppins',sans-serif;"><b>Bonnie Fox</b> Photography</span></a>
        <!-- Float links to the right. Hide them on small screens -->
        <div class="w3-right w3-hide-small">
        <a href="catalog.html" class="w3-bar-item w3-button"><b>Catalog</b></a>
        <a href="about.html" class="w3-bar-item w3-button"><b>About</b></a>
        <a href="purchase.html" class="w3-bar-item w3-button"><b>Purchase</b></a>
                <a href="purchase.html#contact" class="w3-bar-item w3-button"><b>Contact</b></a>
        </div>
    </div>
</div>